Description=DuckDNS IP address updater Daily Job

[Timer]
# Every day at 0:05
OnCalendar=*-*-* 0:05:00
Persistent=true
Unit=duckdns-ip-updater.service

[Install]
WantedBy=timers.target
