[Unit]
Description=Backup Repository Maintenance Script
Wants=server-backup-maintenance.timer

[Service]
Type=simple
EnvironmentFile=<path_to_.conf_file>
ExecStart=sh <path_to_server-backup-maintenance.sh>
User=<user>

[Install]
WantedBy=default.target
