POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_HOST=
TZ=
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=
TRUSTED_PROXIES=caddy
NC_default_phone_region=RU
REDIS_HOST=nextcloud-redis
PROXY_NETWORK=
MAIN_DOMAIN=
NEXTCLOUD_SUBDOMAIN=
NEXTCLOUD_PORT=
NEXTCLOUD_VERSION=
REDIS_VERSION=

PHP_MEMORY_LIMIT=1G
PHP_UPLOAD_LIMIT=4G
